.foto{
    width: 54%;
}
body{
    background-color: #F527F5;
    display: flex;
    margin: 12px;
    align-items: center;
    justify-content: space-evenly;

    
}

div {
    margin: 20px;
    padding: 20px;
